*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

body {
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  height: 100vh;
}